<h1>http://game.southeastasia.cloudapp.azure.com/</h1>
@{
    ViewData["Title"] = "2/3 Of The Average";
}
<h2>@ViewData["Title"]</h2>
<br />
<div>
    <p>Guess a number between 0 - 100 inclusive.</p>
    <p>Everybody's answer will be summed, divided by the total number of submissions, and multiplied by 2/3.</p>
    <p>This final number is the winning answer.</p>
    <p>The winner is the person whose submitted number is closest to the final number.</p>
    <p>Please enter your name properly if not you might be disqualified.</p>
    <p>Please submit only one answer.</p>
</div>
<br />
<div id="divFormSubmit">
    <div class="form-group">
        <label for="name">Full Name</label>
        <input type="text" class="form-control" id="name" placeholder="e.g. Adrian Cheong">
    </div>
    <div class="form-group">
        <label for="number">Number</label>
        <input type="text" class="form-control" id="number" placeholder="Between 0 - 100 e.g. 68">
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary" data-loading-text="Submitting..." id="btnSubmit" onclick="Submit()">Submit</button>
    </div>
</div>

<script>
    showSuccessPage = function () {
        $("#divFormSubmit").replaceWith("<div class='jumbotron'><h2>Your entry has been successfully submitted</h2></div>");
    };

    showErrorPage = function () {
        $("#divFormSubmit").replaceWith("<div class='jumbotron'><h2>An error occurred. Please refresh the page and try again.</h2></div>");
    };

    Submit = function () {

        disableAllControls();

        var obj = {
            "Name": document.getElementById('name').value,
            "Number": document.getElementById('number').value
        };
        var url = "/TwoThirdAverage";

	    $.ajax({
	        type: "POST",
	        contentType: "application/json",
	        data: JSON.stringify(obj),
            url: url
	    }).done(function () {
	        showSuccessPage();
	    }).fail(function (jqXHR, textStatus, errorThrown) {
	        console.log(textStatus, errorThrown);
	        showErrorPage();
	    });
    };

    disableAllControls = function () {
        $("input.form-control").prop('disabled', true);
        $("button.btn").prop('disabled', true);
    };

    $('#btnSubmit').on('click', function () {
        var $btn = $(this).button('loading')
    });
</script>