@{
    ViewData["Title"] = "2/3 Of The Average";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <p>Guess a number between 0 - 100 inclusive. The final answer will be <b>2/3 of the average</b> of everybody's guesses.</p>
    <p>The winner will be the person with the number closest to the final answer.</p>
    <p>If you submit multiple answers, only your latest submission will be considered.</p>
</div>

<div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="e.g. Adrian">
    </div>
    <div class="form-group">
        <label for="number">Number</label>
        <input type="text" class="form-control" id="number" placeholder="Between 0 - 100 e.g. 68">
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary" id="btnAdd" onclick="Add()">Submit</button>
    </div>
</div>

<script>
    Add = function () {

        disableAllControls();

        var obj = {
            "Name": document.getElementById('name').value,
            "Number": document.getElementById('number').value
        };
        var url = "/TwoThirdAverage";

	    $.ajax({
	        type: "POST",
	        contentType: "application/json",
	        data: JSON.stringify(obj),
            url: url,
            success: function (ret) {
	          //alert(ret);
   	      },
		    error: function(jqXHR, textStatus, errorThrown) {
		      console.log(textStatus, errorThrown);
		      //alert(textStatus);
		      //alert(errorThrown);
		    },
		    complete: function() {
		    }
	    });
    };

    disableAllControls = function () {
        $("input.form-control").prop('disabled', true);
        $("button.btn").prop('disabled', true);
    }
</script>